layout {
  tab name="nh" hide_floating_panes=true {
    pane split_direction="horizontal" {
      pane split_direction="vertical" {
        pane command="nh" {
          args "os" "repl"
          start_suspended true
        }

        pane command="nh" {
          args "os" "switch"
          start_suspended true
        }
      }

      pane split_direction="vertical" {
        pane command="nh" {
          args "home" "repl"
          start_suspended true
        }

        pane command="nh" {
          args "home" "switch"
          start_suspended true
        }
      }
    }

    floating_panes {
      pane command="zsh" x="10%" y="10%" width="80%" height="80%"
    }

    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="Neovim" focus=true hide_floating_panes=true {
    pane command="nvim"

    floating_panes {
      pane command="claude" x="10%" y="10%" width="80%" height="80%" {
        args "--ide"
      }
    }

    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="shell" hide_floating_panes=true {
    pane command="zsh"

    floating_panes {
      pane command="codex" x="10%" y="10%" width="80%" height="80%"
    }

    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
}
